In [39]:
#importing libraries

import numpy as np
import pandas  as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')

In [40]:
ds=pd.read_csv("Disease_Symptom_Data.csv")
ds

     Fever  Cough  Fatigue  Breathlessness  Loss of Taste  Age
0      101      1        1               1              1   26
1      102      1        0               1              1   10
2      100      1        1               1              0   60
3      102      0        0               1              1   54
4      102      1        1               0              0   13
..     ...    ...      ...             ...            ...  ...
195    100      1        1               0              0   24
196     99      0        1               1              0   33
197    101      0        0               0              0   47
198    100      1        0               1              0   44
199    103      0        0               0              0   58

[200 rows x 6 columns]

In [41]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fever           200 non-null    int64
 1   Cough           200 non-null    int64
 2   Fatigue         200 non-null    int64
 3   Breathlessness  200 non-null    int64
 4   Loss of Taste   200 non-null    int64
 5   Age             200 non-null    int64
dtypes: int64(6)
memory usage: 9.5 KB

In [42]:
ds.duplicated().sum()

2

In [43]:
ds.drop_duplicates(inplace=True)

In [44]:
ds.isnull().sum()

Fever             0
Cough             0
Fatigue           0
Breathlessness    0
Loss of Taste     0
Age               0
dtype: int64

In [45]:
ds.columns

Index(['Fever', 'Cough', 'Fatigue', 'Breathlessness', 'Loss of Taste', 'Age'], dtype='object')

In [46]:
#Taking input values for x

x=ds[['Fever', 'Cough', 'Fatigue', 'Breathlessness', 'Loss of Taste']]

In [47]:
#importing model selection library(kmean)and fitting for prediction of cluster

from sklearn.cluster import KMeans
kmeans=KMeans(n_clusters=5,init='k-means++',random_state=42)
y_kmeans=kmeans.fit_predict(x)

In [48]:
#predict cluster for data

y_kmeans

array([2, 4, 2, 4, 0, 1, 2, 2, 2, 4, 2, 2, 3, 4, 1, 0, 3, 3, 1, 2, 0, 1,
       2, 1, 3, 4, 2, 1, 1, 2, 2, 1, 2, 0, 3, 3, 3, 2, 2, 0, 1, 2, 4, 2,
       4, 1, 1, 2, 1, 2, 3, 1, 1, 1, 1, 0, 1, 2, 2, 0, 2, 0, 3, 1, 2, 1,
       2, 1, 3, 3, 3, 1, 0, 3, 0, 1, 1, 0, 1, 1, 3, 2, 3, 3, 2, 1, 3, 0,
       4, 1, 0, 1, 1, 0, 2, 2, 4, 1, 4, 0, 1, 1, 1, 1, 2, 2, 2, 1, 2, 2,
       1, 2, 4, 1, 1, 1, 2, 1, 2, 1, 1, 3, 0, 2, 0, 3, 2, 2, 1, 2, 0, 3,
       2, 1, 4, 1, 3, 2, 1, 1, 1, 2, 0, 2, 1, 2, 4, 0, 3, 4, 4, 2, 4, 2,
       0, 2, 2, 3, 0, 1, 1, 4, 3, 1, 4, 3, 2, 0, 0, 2, 0, 3, 3, 2, 1, 2,
       1, 3, 1, 1, 1, 2, 3, 1, 2, 0, 1, 2, 3, 2, 1, 4, 1, 2, 1, 0, 2, 3])

In [49]:
#making  clusters table

result=pd.DataFrame(data=y_kmeans,columns=['cluster'])
result

     cluster
0          2
1          4
2          2
3          4
4          0
..       ...
193        2
194        1
195        0
196        2
197        3

[198 rows x 1 columns]

In [50]:
#i want to predict my input
kmeans.predict([[101,1,1,1,0]])

array([2])

In [51]:
#join x data and cluster  type data

ds=pd.concat([x,result],axis=1)

In [52]:
ds.columns

Index(['Fever', 'Cough', 'Fatigue', 'Breathlessness', 'Loss of Taste',
       'cluster'],
      dtype='object')

In [53]:
#user input
print("Enter new patient data to predict cluster:")
Fever=int(input("Enter Fever:"))
Cough=int(input("Enter Cough:"))
Fatigue=int(input("Enter Fatigue:"))
Breathlessness=int(input("Enter Breathlessness:"))
Loss_of_Taste=int(input("Enter Loss of Taste:"))

#predict the cluster for new customer
predicted_cluster=kmeans.predict([[Fever,Cough,Fatigue,Breathlessness,Loss_of_Taste]])[0]
print(f"the customer belongs to cluster:  {predicted_cluster}")

Enter new patient data to predict cluster:

Enter Fever: 95
Enter Cough: 1
Enter Fatigue: 1
Enter Breathlessness: 0
Enter Loss of Taste: 1

the customer belongs to cluster:  1

In [56]:
import pickle as pkl

In [57]:
pkl.dump(ds,open("Disease_Symptom.pkl","wb"))